.page {
  background-image: url("../../images/background-image.png");
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
