.facts {
  display: flex;
  justify-content: center;
}

.facts__container {
  padding: 0 40px 0 40px;
}

.facts__list {
  padding: 5px;
  border-radius: 8px;
  background: rgba(245, 245, 245, 0.6);
  list-style-type: none;
  text-align: center;
  font-size: 17px;
  color: #000;
  font-weight: bold;
}
